<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form method="POST" action="/api/selection/installation">
        <div>
            <button type="submit" name="installation" value="self-adhered">
                Self-Adhered
            </button>
            <button type="submit" name="installation" value="mechanically-fixed">
                Mechanically Fixed
            </button>
            <button type="submit" name="installation" value="loose-laid">
                Loose Laid
            </button>
            <button type="submit" name="installation" value="fully-torched">
                Fully Torched
            </button>
        </div>
    </form>
</body>

</html>