<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form method="POST" action="/api/selection/membrane">
        <div>
            <button type="submit" name="membrane" value="bitumen" >
                Bitumen
            </button>
            <button type="submit" name="membrane" value="synthetic">
                Synthetic
            </button>
        </div>
    </form>
</body>

</html>