<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form method="POST" action="/api/selection/substrate">
        <div>
            <button type="submit" name="substrate" value="concrete" >
                Concrete
            </button>
            <button type="submit" name="substrate" value="timber">
                Timber
            </button>
            <button type="submit" name="substrate" value="metal">
                Metal
            </button>
        </div>
    </form>
</body>

</html>