<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Area</title>
</head>

<body>
    <form method="POST" action="/area">
        <div>
            <button type="submit" name="area" value="roof">
                Roof
            </button>
            <button type="submit" name="area" value="wall">
                Wall
            </button>
            <button type="submit" name="area" value="foundation">
                Foundation
            </button>
            <button type="submit" name="area" value="civilworks">
                Civil Works
            </button>
        </div>
    </form>
</body>

</html>