<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form method="POST" action="/exposure">
        <div>
            <button type="submit" name="exposure" value="exposed">
                Exposed
            </button>
            <button type="submit" name="exposure" value="protected">
                Protected
            </button>
            <button type="submit" name="exposure" value="ballasted">
                Ballasted
            </button>
            <button type="submit" name="exposure" value="green-roof">
                Green Roof
            </button>
            <button type="submit" name="exposure" value="pod-and-paver">
                Pod and Paver
            </button>
        </div>
    </form>
</body>

</html>