<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form method="POST" action="/system">
        <div>
            <button type="submit" name="system" value="allduro" >
                Allduro
            </button>
            <button type="submit" name="system" value="bayset">
                Bayset
            </button>
            <button type="submit" name="system" value="enduroflex">
                Enduroflex
            </button>
        </div>
    </form>
</body>

</html>